/* my colors #c8d6e5 pilka sviesi
pilka tamsi #8395a7
 */

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  color: black;
  background-color: #bed8f1;

}

.grid {
 display: grid; 
gap: 10px;
grid-template-columns: 2fr 1fr; 

}

/* Forma */
/* 
.first-collumn {
  margin: 0 auto;
  padding: 20px;
  display: block;
  line-height: 30px;
} */

.main-collumn {
  display: flex;
  flex-direction: column;
}

.form {
  display: block;
  margin: 0 auto;
  padding: 20px;
  display: block;
  line-height: 30px;
}
/* .form-flex {
  display: flex;
  
} */

.form-flex {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  gap:15px;
  display:flex;
  justify-content: center;
 
}

.question {
  margin: 10px;
  border-bottom: 1px solid #8080803b;
  padding: 0.25em 0.5em;
}

.btnSubmit,
.clear {
  /* margin: 20px;
  display: block;
  padding: 0.5rem 2rem;
  font-size: 20px;
  border-radius: 10px;
  background-color: #c8d6e5; */

  background-color: #eaa700;
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px 28px;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
  margin: 20px 0px;
}

.bothBtns {
  display: flex;
  justify-content: space-between;
}


.small-containers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* textarea {
  margin: 20px;
  display: block;
  max-width: 80%;
} */

/* card */

.card-container {
  max-width: 500px;
  border-radius: 20px;
  background-color: white;
  box-shadow: -1px -5px 20px 0px #bebebe57;
  padding: 1em;
  gap: 15px;
  margin-bottom: 10px;
  
}

.h-full {
  height:100%;
}

.second-collumn {
  padding:20px;
}
/* Side bar su sperom */


img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}

.section-name {
 
  cursor: pointer;
  
}

/* .section-name:hover {
  background-color: #9ab2ca;
} */

.subsection-name {

  cursor: pointer;
}

/* .subsection-name:hover {
  background-color: #c8d6e5;
} */

.section-text {
  display: none;
}

.subsection-text {
  display: none;
}

.subsection-textshow {
  display: block;
}

.section-textshow {
  display: block;
  padding: 10px;
}
