body {
    margin: 0;
    background-color: #e8ebf2;
    font-family: 'Amiri', serif;
font-family: 'Poppins', sans-serif;

}

 .main-container {
  display:flex;
  justify-content: flex-start;
  margin-top: 4em;
  margin-left: 7em;
  

} 

img {
position: absolute;
bottom: 0;
right: 0; 
  max-width: 100%px;
  height: 100%;
  z-index: 0;
}

.hero-text {

    font-size: 4vw;
    max-width: 550px;
    color: #584f53;
}

.hero-btn {
    background-color: #eaa700;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
position: relative;
z-index: 1;


}